@import "../vendor/bootstrap/bootstrap.scss";
@import "../vendor/fontawesome/font-awesome.scss";

#navbar{
	background-color:#F4F1EA;
	.profile{
		display: inline-block;
		border-radius: 15px;
		height: 30px;
		width: 30px;
	}
	ul{	
		margin-top: 0;
		padding: 0;
		list-style-type: none;
	
	li{
				margin-top: 0;
		padding: 0;
		float: left;
		}
	}
}